
<script>
    var x = 'asd "{asddff}"';
    function dx() {
        alert('mane');
    }
</script>
 

   <div>Hello Oxygen!!!  <% 100+200 %>   </div>
    <input type="button" value="Click Me" onclick="loadData()"/>
    <input type="button" value="Show Msg" onclick="loadData2()" />
    <br />
    <form method="post" action="/Home/add">
       
        Input 1: <input name="name"><br>
        Input 2: <input name="address"><br>
        <input type="submit">
        
    </form>


    <script src="/scripts/test.js"></script>
